/* student_dashboard.css */

.root {
    -fx-background-color: #1e1e1e;
    -fx-padding: 20px;
}

.text-white {
    -fx-fill: #ffffff;
}

.text-area-rounded {
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
    -fx-border-color: #444;
    -fx-border-width: 1px;
    -fx-background-color: #2a2a2a;
    -fx-text-fill: #ddd;
    -fx-padding: 10px;
}

.text-area-rounded .text {
    -fx-text-fill: black;
}

.anchor-pane {
    -fx-background-color: #2b2b2b;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
  
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.5), 10, 0.5, 0, 0);
}

.chart-title {
    -fx-fill: #ffffff;
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-padding: 10px 0;
}

.axis-label {
    -fx-text-fill: #ffffff;
}

.axis-tick-mark {
    -fx-tick-label-fill: #888;
}

.custom-button {
    -fx-background-color: #1e90ff;
    -fx-text-fill: #ffffff;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-border-color: #1e90ff;
    -fx-border-width: 1px;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.3), 5, 0.5, 0, 0);
    -fx-cursor: hand;
    -fx-padding: 5px 10px;
    -fx-transition: background-color 0.3s, border-color 0.3s;
}

.custom-button:hover {
    -fx-background-color: #559aff;
    -fx-border-color: #559aff;
}

.progress-bar {
    -fx-accent: #1e90ff;
    -fx-background-color: #444;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
}

.text-label {
    -fx-fill: #ffffff;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}
